{% extends 'base.html.twig' %}
	{% block body %}
		<a href="/" class="btn btn-default">< Volver</a>
    <h2 class="page-header">Registro</h2>
		{{ form_start(form) }}
			{{ form_row(form.username) }}
			{{ form_row(form.email) }}
			{{ form_row(form.password) }}
			<button type="submit">Registrarse</button>
		{{ form_end(form)}}
	{% endblock %}