{{ form_start(form) }}
	{{ form_now(form.username) }}
	{{ form_now(form.email) }}
	{{ form_now(form.plainPassword.first) }}
	{{ form_now(form.plainPassword.second) }}
	<button type="submit">Registrarse</button>
{{ form_end(form)}}