{% extends 'base.html.twig' %}
	{% block body %}
	<div class="container pt-5 RegisterForm">
    <h2 class="page-header">Registro</h2>
		{{ form_start(form) }}			
			<div class="row my-3">
				{{ form_row(form.username) }}
			</div>
			<div class="row my-3">
				{{ form_row(form.email) }}
			</div>
			<div class="row my-3">			
				{{ form_row(form.plainPassword.first) }}
			</div>
			<div class="row my-3">			
				{{ form_row(form.plainPassword.second) }}
			</div>
			<button class="btn btn-primary m-4" type="submit">Registrarse</button>
	</div>
		{{ form_end(form)}}
	{% endblock %}